html,body{width:100vw;height: 100vh;}
.round{width: 100vw;height: 100vw;margin-top: 25vw;position: absolute;background: #D84C29;border-radius: 50%;}
.round>button{width: 70px;height: 70px;position: absolute;left: calc(50vw - 35px);top:calc(50vw - 35px);border-radius: 50%;border:none;background:#fff;color: #D84C29;}

.round li{
	width: 100px;
	height: 100px;
	/*line-height: 40px;*/
	border: 1px #FF4F20 solid;
	border-radius: 50%;
	text-align: center;				
	position: absolute;
	left: calc(50vw - 50px);
	top:calc(50vw - 50px);
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.round li a{
	width: 100%;
	display: block;
	font-size: 35px;
	color: #fff;
}
.round li i{
	font-size: 14px;
	color: #fff;
	display: block;
}
.round ul:last-of-type{
	display: none;
}			